<h1 class="sub-title">This email address already exists</h1>

<p>Please choose another email!</p>

<form action="/signup" method="post">

    <label for="">email</label>
    <input type="email" name="email">

    <label for="">password</label>
    <input type="password" name="password">

    <button class="style-btn">Submit</button>

</form>