<h1 class="home-page">Camp<span class="title-color">Share</span></h1>

<div class="campsites-link">
    <a class="main-links" href="/campsites">Explore campsites</a>
    <a class="main-links" href="/campsites/new">Share your campsite</a>
</div>
