<h1 class="home-page">Camp<span class="title-color">Share</span></h1>

<h1 class="statement">Embark on Outdoor Adventures: Uncover Hidden Gems</h1>

<p class="about">Welcome to Campshare – your go-to destination for discovering and sharing the best camping experiences across Australia. Whether you're a seasoned adventurer or a first-time camper, find inspiration, tips, and firsthand accounts to enhance your next outdoor journey. Join our community, explore stunning campsites, and connect with fellow nature enthusiasts. </p>

<div class="campsites-link">
    <a class="main-links" href="/campsites">Explore campsites</a>
    <a class="main-links" href="/campsites/new">Share your campsite</a>
</div>
