<h1 class="sub-title">Incorrect password</h1>

<p>Please try again!</p>

<form action="/login" method="post">

    <label for="">email</label>
    <input type="email" name="email">

    <label for="">password</label>
    <input type="password" name="password">

    <button class="style-btn">login</button>

</form>