<h1 class="index-page">Favourite <span class="title-color">Campsites</span></h1>

<div class="grid-wrapper">
    <% for (let campsite of campsites) { %>
      
        <div class="display-img">
            <h3>
                <a class="home-btn" href="/campsites/<%= campsite.id %>">
                <%= campsite.name %></a>
            </h3>
        
            <img src="<%= campsite.image_url %>" alt="">
        </div>
       
    <% } %>
</div>