<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampShare</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <p>
        <a href="/">home</a>
        <a href="/campsites">campsites</a>
        <a href="/campsites/new">share your campsite</a>
    </p>
    
    <p>
        <a href="/signup">sign up</a>
    </p>

    <%- body %>


</body>
</html>