<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampShare</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="page-wrapper">

        <header class="page-header">
        <nav>
            <a class="home-btn" href="/">Home</a>
        </nav>

        
        <% if (currentUser) { %>
            
            <div class="after-login">
                <p class="welcome">Welcome back - <%= currentUser.email %></p>
                <form action="/logout?_method=delete" method="post">
                    <button class="logout-btn">Logout</button>
                </form>
            </div>
            
            <% } else { %>
                
                
                    <a class="login-btn"  href="/login">Log in</a>

                    <a class="style-btn" href="/signup">Sign up</a>
                
                
                <% } %>
            </header>

         
    </div>

    <%- body %>

</body>
</html>