<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampShare</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="page-wrapper">

        <header class="page-header">
        <nav>
            <a href="/">home</a>
            <a href="/campsites">campsites</a>
            <a href="/campsites/new">share your campsite</a>
        </nav>
    
        <% if (currentUser) { %>
    
            <p>Welcome back: <%= currentUser.email %>!</p>
    
            <form action="/logout?_method=delete" method="post">
                <button>logout</button>
            </form>
        
        <% } else { %>
    
        <div class="login">
            <a href="/login">Log in</a>
            <br>
            <a href="/signup">Sign up</a>
        </div>
    
        <% } %>
        </header>

    </div>

    <%- body %>

</body>
</html>