<h1 class="sub-title">Share your favourite <span class="title-color">campsite</span></h1>

<form action="/campsites" method="post">
<div class="share-wrapper">
    <div>
        <label for="">Name</label>
        <input type="text" name="name">
    
        <label for="">Location</label>
        <input type="text" name="location">
    </div>
    <div>
        <label for="">Image</label>
        <input type="text" name="image_url">
    
        <label for="">Image</label>
        <input type="text" name="image_url_1">
    
        <label for="">Image</label>
        <input type="text" name="image_url_2">
    </div>
    <div>
        <label for="">Thing to do</label>
        <textarea name="thing_to_do"></textarea>
    
        <label for="">Description</label>
        <textarea name="description"></textarea>
    </div>
    <div>
        <button class="style-btn">Post</button>
    </div>

</div>

</form>