<h1>Share your favourite campsite</h1>

<form action="/campsites" method="post">

    <label for="">Name</label>
    <input type="text" name="name">

    <label for="">Location</label>
    <input type="text" name="location">

    <label for="">Image</label>
    <input type="text" name="image_url">

    <label for="">Thing to do</label>
    <textarea name="thing_to_do"></textarea>

    <label for="">Description</label>
    <textarea name="description"></textarea>

    <button>post</button>

</form>