<h1>Thank you for signing up!</h1>

<p>Please login to continue</p>

<!-- <form action="/login" method="post"> -->

    <label for="">email</label>
    <input type="email" name="email">

    <label for="">password</label>
    <input type="password" name="password">

    <button>login</button>

<!-- </form> -->